extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.role= agent.role
          p.roleDesc= agent.roleDesc
          p.address= agent.address       
          .card.card-primary
            .card-block
              h2.card-title Working Hours
              each time in agent.workingTimes
                p.card-text
                  | #{time.days} : 
                  if time.closed
                    | not working
                  else
                    | #{time.start} - #{time.end}
          .card.card-primary
            .card-block
              h2.card-title Products
              each product in agent.products
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{product}
                | &nbsp;        
    .col-12.col-lg-3
      p.lead #{agent.name} #{sidebar.context}
      